<div class="alert alert-info">
  <span class="pull-left">
  {{taskCounter}} tasks left
  </span>
  <div class="btn-group">
    <button type="button" class="btn btn-default" (click)="onGetAllTask()">All</button>
    <button type="button" class="btn btn-default" (click)="onGetActiveTasks()">Active</button>
    <button type="button" class="btn btn-default" (click)="onGetCompletedTasks()">Completed</button>
  </div>
  <a href="#" class="pull-right" (click)="onGetCompletedTask()" >Clear Completed</a>
</div>

